.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.search .generalTitle {
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    .search {
        margin-top: 0;
    }
}