.contentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contentHeader .contentInfo h2,
.contentHeader .contentInfo p,
.contentHeader .filterOption button {
    margin: 0;
}

.contentHeader .filterOption button {
    transition: none;
    background-color: #4F3BFF;
}

.contentHeader .filterOption button:hover {
    cursor: auto;
    transform: none;
    transition: none;
    box-shadow: none;
    background-color: #4F3BFF;
}

.contentHeader .contentTag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}

.contentHeader .contentTag p {
    margin: 4px 0;
    text-align: center;
}

.content a {
    text-decoration: none;
    color: #4F3BFF;
    font-weight: 700;
}

pre {
    background-color: #E9E9E9;
    padding: 12px 16px;
    border-radius: 10px;
}

code {
    color: #808080;
}

.testsImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testsImages img {
    width: 40vw;
    margin-bottom: 16px;
}

@media only screen and (max-width: 1024px) {
    .testsImages img {
        width: 60vw;
    }
}

@media only screen and (max-width: 768px) {
    .singleTestImage {
        width: 90vw;
    }

    .testsImages img {
        width: 80vw;
    }
}

@media only screen and (max-width: 425px) {
    .contentHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .contentHeader .filterOption button {
        margin-top: 12px;
    }

    .contentHeader .contentTag {
        align-items: flex-start;
        margin-left: 0px;
    }
    
    .contentHeader .contentTag p {
        text-align: start;
    }

    .testsImages img {
        width: 90vw;
    }

    pre {
        font-size: 0.875rem;
        padding: 12px 8px;
    }
}

