.translateAlert {
    padding: 8px 16px;
    margin: 20px 0 100px;
    background-color: #FF718A;
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.43);
    width: 20vw;
}

.translateAlert h4 {
    margin: 0;
    color: white;
    text-align: center;
}

.postDetailContainer {
    padding: 0px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postDetailContainer .postDetailImageContainer {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.postDetailContainer .postDetailImage {
    min-height: 200px;
    max-height: 40vh;
}

.postDetailContainer .postDetailImage.large {
    width: 100%;
}

.relatedTopics {
    width: 30%;
    padding: 16px;
    background-color: #E5E2FF;
    border-radius: 20px;
    margin-right: 5vw;
}

.relatedTopics h2 {
    margin: 0;
}

.relatedTopics ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.relatedTopics .link {
    padding-top: 6px;
    color: #4F3BFF;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (max-width: 1024px) {
    .relatedTopics {
        width: calc(90% - 32px);
        margin: 0 5vw 40px;
    }

    .postDetailContainer {
        flex-direction: column;
        padding: 10px 0 20px 0;
    }
    
    .postDetailContainer .postDetailImageContainer {
        margin-right: 0;
        order: 1;
    }
}

@media only screen and (max-width: 768px) {
    .translateAlert {
        padding: 8px 16px;
        margin: 40px 5% 20px;
        width: calc(90% - 32px);
        border-radius: 20px;
    }

    .postDetailContainer .postDetailImage.small {
        width: 100%;
    }
}